button {
  cursor: pointer;
  border: none;
  background-color: var(--cyan);
  font-size: 1.5rem;
  color: white;
}

.medium {
  height: 3.5rem;
  width: 13rem;
}

.big_radius {
  border-radius: 2rem;
}

.getStarted:hover {
  background-color: var(--bg-cyan-200);
}
