.head_block {
  padding: 1.5rem;
  display: flex;
}

.head {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

hr {
  width: 100%;
  border-color: var(--gray);
}

.btn_menu {
  cursor: pointer;
  width: 2rem;
  height: 2rem;
  border: none;
  background-color: white;
  background-image: url('../assets/menu-svgrepo-com.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.menu {
  position: absolute;
  width: calc(100% - 3rem);
  z-index: 1;
  height: 30rem;
  margin-top: 1.5rem;
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 0.5rem;
  background-color: var(--dark-violet);
}

.btn {
  cursor: pointer;
  height: 3.5rem;
  width: 40%;
  border: none;
  border-radius: 2rem;
  background-color: var(--dark-violet);
  font-size: 1.5rem;
  color: white;
}

.btn_sign {
  width: 80%;
  background-color: var(--cyan);
}

.btn:hover {
  background-color: var(--cyan);
}

.btn_sign:hover {
  background-color: var(--bg-cyan-200);
}

.hidden {
  display: none;
}

.menu_big_screen {
  display: none;
}

@media (width >= 48rem) {
  .btn_menu {
    display: none;
  }

  .menu_big_screen {
    width: 100%;
    margin: 0 3rem 0 1rem;
    color: var(--gray);
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    padding-inline-start: 0;
  }

  .menu_big_screen a {
    color: var(--gray);
    text-decoration: none;
    margin: 0 0.8rem;
  }

  .menu_big_screen a:hover {
    color: black;
  }

  .menu_big_screen p:hover {
    color: black;
  }

  .menu_big_screen div {
    display: flex;
  }

  .btn_sign {
    font-size: 1rem;
    padding: 0 1.3rem;
    max-width: 10rem;
    height: 1.7rem;
  }

  .head {
    width: 8rem;
  }
}
