.main {
  overflow: hidden;
}

.shorted {
  padding: 2rem;
  margin-top: 2rem;
  width: calc(100% + 4rem);
  margin-left: -2rem;
  background-color: var(--gray-light);
}

.advanced {
  padding: 1.5rem;
  width: 100%;
  text-align: center;
  margin-bottom: 2rem;
}

.features {
  margin: 3rem 1.5rem;
  border-radius: 0.5rem;
  text-align: center;
  background-color: white;
  padding: 4rem 1.5rem 2rem;
  position: relative;
  z-index: 1;
}

.icon {
  position: absolute;
  display: flex;
  justify-content: center;
  padding: 1rem;
  top: -2.5rem;
  left: calc(50% - 2.5rem);
  width: 5rem;
  background-color: var(--dark-violet);
  border-radius: 50%;
}

.line {
  width: 15rem;
  height: 0.7rem;
  background-color: var(--cyan);
  transform: rotate(90deg);
  border: none;
}

.searchAndList {
  margin-top: -7rem;
}

@media (width >= 53rem) {
  .advanced {
    margin-top: 3rem;
    padding: 0 20rem;
  }

  .feature_block {
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, auto));
  }

  .secondChild {
    margin-top: 5rem;
  }

  .lastChild {
    margin-top: 7.5rem;
  }

  .features {
    height: 15rem;
  }

  .line {
    top: 40%;
    right: 7rem;
    position: absolute;
    width: 60%;
    transform: rotate(0deg);
  }

  .icon {
    left: 2rem;
  }
}
