.main {
  overflow: hidden;
}

.more_img {
  display: flex;
  flex-direction: column-reverse;
  padding-left: 1.5rem;
}

.person {
  transform: scale(0.8);
  position: absolute;
  right: -14rem;
}

.svg {
  position: relative;
  width: 100%;
  height: 28rem;
}

.more_then {
  font-size: 2.5rem;
}

.more {
  padding: 1.5rem;
  margin-top: 2rem;
  text-align: center;
}

.p {
  font-size: 1rem;
  line-height: 2rem;
  color: var(--grayish-violet);
}

.getStarted {
  cursor: pointer;
  height: 3.5rem;
  width: 13rem;
  border: none;
  border-radius: 2rem;
  background-color: var(--cyan);
  font-size: 1.5rem;
  color: white;
}

.getStarted:hover {
  background-color: var(--bg-cyan-200);
}

.shorted {
  padding: 2rem;
  margin-top: 2rem;
  width: calc(100% + 4rem);
  margin-left: -2rem;
  background-color: var(--gray-light);
}

.advanced {
  padding: 1.5rem;
  width: 100%;
  text-align: center;
  margin-bottom: 2rem;
}

.features {
  margin: 3rem 1.5rem;
  border-radius: 0.5rem;
  text-align: center;
  background-color: white;
  padding: 4rem 1.5rem 2rem;
  position: relative;
  z-index: 1;
}

.icon {
  position: absolute;
  display: flex;
  justify-content: center;
  padding: 1rem;
  top: -2.5rem;
  left: calc(50% - 2.5rem);
  width: 5rem;
  background-color: var(--dark-violet);
  border-radius: 50%;
}

.line {
  width: 15rem;
  height: 0.7rem;
  background-color: var(--cyan);
  transform: rotate(90deg);
  border: none;
}
