.btn {
  cursor: pointer;
  border: none;
  background-color: var(--cyan);
  font-size: 1.5rem;
  color: white;
}

.small {
  height: 2rem;
  width: 8rem;
}
.medium {
  height: 3.5rem;
  width: 13rem;
}
.big {
  height: 5rem;
  width: 18rem;
}
.no_radius {
  border-radius: none;
}
.normal-radius {
  border-radius: 0.5rem;
}

.big_radius {
  border-radius: 2rem;
}

.btn:hover {
  background-color: var(--bg-cyan-200);
}
