.btn {
  cursor: pointer;
  border: none;
  background-color: var(--cyan);
  font-size: 1.5rem;
  color: white;
}

.small {
  height: 3.3rem;
  max-width: 30rem;
}

.medium {
  height: 3.5rem;
  width: 13rem;
}

.large {
  height: 5rem;
  max-width: 30rem;
}

.no_radius {
  border-radius: none;
}

.normal-radius {
  border-radius: 0.5rem;
}

.big_radius {
  border-radius: 2rem;
}

.btn:hover {
  background-color: var(--bg-cyan-200);
}

.small:hover {
  background-color: var(--dark-violet);
}
