.text {
  margin: 1rem 0;
  line-height: 2rem;
  color: var(--grayish-violet);
}

.cyan {
  color: var(--cyan);
}
.black {
  color: black;
}
.small {
  font-size: 0.8rem;
}
.normal {
  font-size: 1.4rem;
  line-height: 2.5rem;
  color: var(--grayish-violet);
}
.large {
  font-size: 1.5rem;
}
.longUrl {
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
