@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,700&display=swap');

:root {
  --cyan: hsl(180deg, 66%, 49%);
  --dark-violet: hsl(257deg, 27%, 26%);
  --red: hsl(0deg, 87%, 67%);
  --gray: hsl(0deg, 0%, 75%);
  --grayish-violet: hsl(257deg, 7%, 63%);
  --very-dark-blue: hsl(255deg, 11%, 22%);
  --very-dark-violet: hsl(260deg, 8%, 14%);
  --bg-cyan-200: rgb(165 243 252);
  --home-font: 'Poppins', sans-serif;
  --main-shadow: 0 0.3rem 1rem 0.3rem rgb(0, 1, 1, 0.2);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
div,
h1,
h2,
section {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: var(--home-font);
  vertical-align: baseline;
  text-rendering: optimizelegibility;
  text-size-adjust: none;
}
